@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; 
        --font-oswald: 'Oswald', sans-serif;
}

html, body { height: 100%; background: #fff; }

/* Smooth text */
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.font-oswald {
  font-family: var(--font-oswald), var(--font-prompt), ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
}

.font-prompt {
  font-family: var(--font-prompt), ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
}

.thai-tight { letter-spacing: 0; }